Source: kylin-exten-tools
Maintainer: wanghailiang <wanghailiang@kylinos.cn>
Section: universe/admin
Priority: optional
Build-Depends: debhelper,
               qtbase5-dev,
               qttools5-dev-tools,
Standards-Version: 4.1.3

Package: kylin-exten-tools
Architecture: any
Section: universe/admin
Priority: optional
Depends: ${shlibs:Depends}
Description: kre 扩展属性工具
